.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #438482;
  padding: 16px;
  border-radius: 4px;
  color: #202124;
  background-color: #EEE6C8;

}

.Weather h1 {
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
   color: #556F40;
  font-size: 42px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: #556F40;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto;
  margin-top: 5px;
  display: inline-block;
  color:#ffffff;
  
}

.Weather .unit {
  color: #556F40;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
  color:#EEE6C8;
}

.info{
  color:#9E8E00;
  font-size: 4px;
  font-size:smaller;
 
}

.date{
  color:#5e512a;

}
.text-capitalize{
    font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
   color: #A7790D;
  font-size: 15px;
}